<div class="table-container">
  <div class="input-group">
    <input class="form-control" type="text" name="searchName" placeholder="Filter by first name"
      [(ngModel)]="searchName" />
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First name</th>
        <th scope="col">Last name</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of userList | filter: 'name': searchName; let i = index">
        <td>{{i + 1}}</td>
        <td>{{user.name}}</td>
        <td>{{user.surname}}</td>
      </tr>
    </tbody>
  </table>
</div>